[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jiwer = "*"
pytest = "*"
whisper-normalizer = "*"
intervaltree = "*"
openai-whisper = "*"
spacy = "*"
jellyfish = "*"
whisperx = {git = "https://github.com/m-bain/whisperx.git"}
lightning = "==2.0.1"
"pyannote.audio" = {file = "https://github.com/pyannote/pyannote-audio/archive/refs/heads/develop.zip"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
