[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jiwer = "*"
pytest = "*"
"pyannote.audio" = "*"
"pyannote.metrics" = "*"
whisper-normalizer = "*"
intervaltree = "*"
openai-whisper = "*"
spacy = "*"
jellyfish = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
